.cover__titles {
  text-decoration: none;
  color: inherit;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}