.cover__titles {
  text-decoration: none;
  color: inherit;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1024px) {
  .cover__titles {
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__titles {
    min-height: 480px;
  }
}

@media (max-width: 570px) {
  .cover__titles {
    min-height: 200px;
  }
}